

.headerContainer{
    display: flex;
    background-color: black ;
height: 100px;
width: 100%;
justify-content: center;
align-items: center;

}
.titleStyle{
    width: 10%; 
    /* background-color: red;   */
    color:#ffff;
    font-weight: bold;
}
